.students-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 40px;
}

.students-table-header {
    display: flex;
    justify-content: space-around;
}

.students-table-header-item {
    width: 100%;
}
