.student-row {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.student-item {
    width: 100%;
}
.students-table-header-item {
    width: 100%;
}

.student-item.save{
    position: absolute;
    right: -100%;
}