.pop-up {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #000000d1;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    visibility: hidden;
}

.pop-up.show {
   visibility: visible
}
.pop-up-form {
    text-align: center;
    background: #e3d3d3;
    padding: 40px;
}

.pop-up-label, 
.pop-up-input{
    display: block
}